__pycache__/

#vs code
.vscode
.vscode/
*.oe

#Mac
.DS_Store 

#output
images/
*.png
*.pdf
*.svg

#cluster scripts
cluster_scripts/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/